.navWhite{
    color:white;
    text-align: center;

}
.navWhite:link{
    text-decoration: none;
}
.homepagebody{
    background: url("Images/MissionsInMotionBackgroundImage.png")no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-size: 82%;
}
.homePageOpportunities{
    max-width: 33%;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 35px;
}
.leftSide{
    line-height: 10px;
}


